@font-face {
    font-family: Mauline;
    src: url(mauline.woff2);
}
@font-face {
    font-family: Cardo;
    src: url(cardo-regular.woff2);
}
@font-face {
    font-family: CardoBold;
    src: url(cardo-bold.woff2);
}
:root {
    --brown-dark: #543310;
    --brown: #74512D;
    --brown-light: #AF8F6F;
    --background-light: #F8F4E1;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}
body {
    min-height: 100vh;
    background-color: var(--background-light);
}
h1,h2,div.languages>a { font-family: Mauline; font-weight: 500; color: var(--brown-light); }
main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5vw 1.5vh;
}
header {
    position: fixed;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header>h1 {
    font-size: 2vw;
}
header>div>a {
    font-size: 1vw;
}
section {
    display: flex;
}
section>div.left { position: relative; }
section>div.left>img {
    position: fixed;
    top: 6vh;
    left: -10vw;
    width: 50vw;
    border-radius: 50%;
    filter: blur(3px);
    opacity: .55;
    z-index: -1;
}
section>div.right {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 60vh;
    left: 45vw;
    top: 18vh;
}
section>div.right>h2 {
    font-family: CardoBold;
    color: var(--brown-dark);
    font-size: 4vw;
}
section>div.right>p.description {
    font-family: Cardo;
    color: var(--brown);
    font-size: 1.3vw;
    padding: 1.5vh 0;
}
section>div.right>p.links {
    font-family: Cardo;
    color: var(--brown);
    font-size: 1.7vw;
    padding: 1.5vh 0 1vh 0;
}
section>div.right>div.linkes {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2vw;
}
section>div.right div.linkes a {
    font-size: 2vw;
    color: var(--brown-dark);
    text-decoration: underline;
    margin-top: 2vh;
    padding: 1vw;
    border: 1px solid var(--brown-light);
}
@media screen and (max-width: 850px) {
    section>div.left>img {
        display: none;        
    }
    header>h1 {
        padding-top: 2rem;
        font-size: 2rem;
    }
    header>div.languages {
        padding-top: 2rem;
    }
    header>div.languages>a {
        font-size: 1.8rem;
    }
    section>div.right {
        width: 96vw;
        height: 60vh;
        left: 2vw;
        top: 10vh;
    }
    section>div.right>h2 {
        font-size: 4rem;
    }
    section>div.right>p.description {
        font-size: 1rem;
    }
    section>div.right>p.links,
    section>div.right>div.linkes>a {
        font-size: 1.2rem;
    }
    section>div.right>div.linkes>a {
        padding: .5rem;
        margin: 1rem 0;
        text-decoration: none;
    }
}